@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.blur-gradient {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  /* smooth vertical fade */
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.85) 20%,
    rgba(0, 0, 0, 0.55) 40%,
    rgba(0, 0, 0, 0.25) 60%,
    rgba(0, 0, 0, 0) 85%
  );

  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.85) 20%,
    rgba(0, 0, 0, 0.55) 40%,
    rgba(0, 0, 0, 0.25) 60%,
    rgba(0, 0, 0, 0) 85%
  );
}




@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
  --font-serif: var(--font-canela);
}

/* Custom font classes */
.font-canela {
  font-family: var(--font-canela), serif;
}

.font-manrope {
  font-family: var(--font-manrope), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}

/* Text selection styling */
::selection {
  background-color: #000000b2;
  color: #ffffff;
}

::-moz-selection {
  background-color: #000000;
  color: #ffffff;
}


